<div>
  <md-card class="tabTop">
    <form class="example-form"  (ngSubmit)="onSubmit()">
      <md-tab-group [selectedIndex]="packageSelectedIndex"  (selectChange)="tabChanged(addsampleTab)">
        <md-tab label="NIR">
          <ng2-md-datatable selectable="true">
        <ng2-md-datatable-header>
          <ng2-md-datatable-column sortableValue="article">Package</ng2-md-datatable-column>
          <ng2-md-datatable-column sortableValue="product">Domestic</ng2-md-datatable-column>
        </ng2-md-datatable-header>
        <tbody>
          <ng2-md-datatable-row selectableValue="NIR 1">
            <td>NIR 1</td>

            <td class="numeric">$23.2</td>
          </ng2-md-datatable-row>
          <ng2-md-datatable-row selectableValue="NIR 2">
            <td>NIR 2</td>

            <td class="numeric">$12.4</td>
          </ng2-md-datatable-row>
          <ng2-md-datatable-row selectableValue="NIR 3">
            <td>NIR 3</td>

            <td class="numeric">$46.4</td>
          </ng2-md-datatable-row>
          <ng2-md-datatable-row selectableValue="NIR 4">
            <td>NIR 4</td>

            <td class="numeric">$24.3</td>
          </ng2-md-datatable-row>
        </tbody>
      </ng2-md-datatable>
        </md-tab>
        <md-tab label="Chemistry">
        <ng2-md-datatable selectable="true">
        <ng2-md-datatable-header>
          <ng2-md-datatable-column sortableValue="article">Package</ng2-md-datatable-column>
          <ng2-md-datatable-column sortableValue="product">Domestic</ng2-md-datatable-column>
        </ng2-md-datatable-header>
        <tbody>
          <ng2-md-datatable-row selectableValue="NIR 1">
            <td>NIR 1</td>

            <td class="numeric">$23.2</td>
          </ng2-md-datatable-row>
          <ng2-md-datatable-row selectableValue="NIR 2">
            <td>NIR 2</td>

            <td class="numeric">$12.4</td>
          </ng2-md-datatable-row>
          <ng2-md-datatable-row selectableValue="NIR 3">
            <td>NIR 3</td>

            <td class="numeric">$46.4</td>
          </ng2-md-datatable-row>
          <ng2-md-datatable-row selectableValue="NIR 4">
            <td>NIR 4</td>

            <td class="numeric">$24.3</td>
          </ng2-md-datatable-row>
        </tbody>
      </ng2-md-datatable>
        </md-tab>
      </md-tab-group>



      

      <!--<table class="table">
        <thead class="thead-default">
          <tr>
            <th>Check</th>
            <th>Package Name</th>
            <th>Domestic</th>
            <th>Internactional</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>-->
       <div class="button-row">
        <button md-raised-button color="primary" (click)="GotoSampleDetails()">Previous</button>
        <button md-raised-button color="primary" type="submit">Next</button>
      </div>
    </form>
    

  </md-card>
</div>