<h1>
  Samples</h1>
{{ selectedBatch }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Code: <label for="batch" #code>{{sample?.Code}}</label></h4>
              <p class="card-text">Farm: {{sample?.FarmName}}</p>
              <p class="card-text">Desc: {{sample?.SampleDescription}}</p>
              <p class="card-text">NIR: {{sample?.NIRClassID}}</p>
              <p class="card-text">CHEM: {{sample?.ChemClassID}}</p>
              <p class="card-text"><small class="text-muted">Completed: {{sample?.CompletedDate}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-button">
    <button type="button" (click)="goBackToBatches()" class="btn btn-primary">Go back to Home</button>
    <button type="button" (click)="goBackToSample()" class="btn btn-primary">Go back to Batch</button>
  </div>
</div>