<h1>Samples card</h1>
<!--{{ workingBatches[0]}}-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of workingBatches">
          <div class="card" >
            <div class="card-block">
              <h4 class="card-title">Batch: {{item.Batch}}</h4>
              <p class="card-text">Code: {{item.Code}}</p>
              <p class="card-text">Total Samples: {{item.TotalSamples}}</p>
              <p class="card-text">Total NIR: {{item.NIRTotal}}</p>
              <p class="card-text">Total CHEM: {{item.ChemTotal}}</p>
              <p class="card-text"><small class="text-muted">Last updated {{item.BatchDate}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>