<section class="sample-app-content">

  <form [formGroup]="sampleDetails" (ngSubmit)="onSubmit()">
    <md-card>    
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="First name">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="Long Last Name That Will Be Truncated">
            </md-input-container>
          </td>
        </tr>
      </table>

      <p>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
        </md-input-container>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Address 2"></textarea>
        </md-input-container>
      </p>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="City">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="State">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
              <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
            </md-input-container>
          </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>


            <md-input-container class="example-full-width">
              <input mdInput [mdDatepicker]="picker" placeholder="Sampled Date">
              <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>


          </td>

          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="City">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="City">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="City">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="City">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="example-full-width">
              <input mdInput placeholder="City">
            </md-input-container>
          </td>

        </tr>
      </table>
      <div class="button-row">      
        <button md-raised-button color="primary" (click)="GotoBillto()">Previous</button>
         <button md-raised-button color="primary" type="submit">Next</button>
      </div>

    </md-card>
  </form>
</section>