/* You can add global styles to this file, and also import other style files */
a {
 -webkit-transition: .25s all;
 transition: .25s all;
}
.card {
 overflow: hidden;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 -webkit-transition: .25s box-shadow;
 transition: .25s box-shadow;
 margin-bottom: 15px;
}
.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.card-inverse .card-img-overlay {
 background-color: rgba(51, 51, 51, 0.85);
 border-color: rgba(51, 51, 51, 0.85);
}

.card-button {
    float: right;
}


md-checkbox.dynamic-color-checkbox {
    width: 30px;
    height: 30px;
}

 md-card-spinner {
      padding-left: 60px; 
    }

    md-spinner {
      width: 30px;
      height: 30px;
      position: relative;
      top: 10px;
      left: 10px;
      opacity: 0.0;
    }

    md-spinner.show {
      opacity: 1.0;
    }

.btn-space {
    margin-right: 5px;
}

.button-row{
  /*clear: both; */
  text-align: right;
  position: relative; 


  
}

.tabTop
{
    padding-top:0px !important;      
}


md-card{
    max-width: 80%;    
    text-align: center;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
}


.packageSelection{
    max-width: 100%;    
    text-align: center;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
}
.example-form {
  width: 100%;
  line-height: 50px;
}

.example-full-width {
  width: 100%;
  padding-right: 20px;
}

/*
.example-half-width{
  width: 60%;
  padding-right: 20px;
}*/

.example-half-width {
  width: 50%;
  text-align: left;
}

/*.threeColumn{
  width: 33%;
}*/
.threeColumn{
  width: 25%;
  text-align: left;
  line-height: 50px;
}

.twoColumn{
  width: 50%;
}
.chkBoxStyle{
  width: 10px; 
  height: 10px; 
  float: left;
}
.checkboxContainer
{
  text-align: left; 
  padding-bottom: 1px
}

.checkboxRow{
  line-height:50px; 
  /*float: left;*/
}

.quickSubmission{
  float: left; 

}


